*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.button{
    display: inline-block;
    background: #ff523b;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
    border-color: #ff523b;
}
.button:hover {
    background: #563434;
}
.header{
    background: 
    radial-gradient(
     at center, white, rgb(248, 165, 135)
    );
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-3{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-3 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:#563434 ;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-3 p{
    font-size: 14px;
}

.col-3:hover {
    transform: translateY(-5px);
}
/** products.html page **/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}
select {
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus {
    outline: none;
}
.page-button{
    margin: 0 auto 80px;
    transition: transform 0.5s;
}
.page-button span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-button span:hover {
    background: #ff523b;
    color: white;
}

/** product_details.html page **/
.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2 {
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-size: 15px;
}

.single-product input{
    width: 60px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus {
    outline: none;
}

.small-image-row {
    display: flex;
    justify-content: space-between;
}

.small-image-col {
    flex-basis: 22%;
    cursor: pointer;
}

/** shoppingcart.html page **/

.cart-page{
    margin: 30px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th {
    text-align: left;
    padding: 10px;
    color: white;
    background: coral;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: coral;
    font-size: 13px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid coral;
    width: 100%;
    max-width: 520px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/** checkout.html page **/

.checkout_body{
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
    margin: 30px auto;
}

.progress_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.step_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.step {
    background-color: coral;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    margin-bottom: 1rem;
    position: relative;
    padding: 0%;
}

.step_container:nth-of-type(3) .step::after{
    display: none;
}

.step_container:nth-of-type(3) .step{
    background-image: none;
    background-color: white;
    border: 2px solid grey;
}

.step_container:nth-of-type(2) .step::after{
    background-color: grey;
}

.step_container:nth-of-type(2) .step{
    background-image: none;
    background-color: white;
    border: 2px solid rgb(0, 132, 255);
}

.step::after {
    content: "";
    width: 17vw;
    height: 2px;
    background-color: inherit;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(100%) translateY(-50%);
}

.form-container{
    width: 60%;
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}


.checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input-line{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}

label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}

input[type="text"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: coral;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: black;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: black;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.input-container .input-line{
    width: 48%;
}

